.chatHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 10px;

    .chatHeaderLeft {
        padding-left: 15px;

        .chatHeaderHash {
            color: #686a6e;
            padding-right: 7px;
        }

        h3 {
            color: white;
        }
    }

    .chatHeaderRight {
        padding-right: 15px;
        display: flex;
        align-items: center;
        gap: 13px;
        color: #686a6e;

        .chatHeaderSearch {
            display: flex;
            align-items: center;
            background-color: #40404a;
            padding: 3px;
            border-radius: 3px;
        }

        input {
            background: transparent;
            outline: none;
            border: none;
            color: white;
        }

        :global(.MuiSvgIcon-root) {
            cursor: pointer;
        }
    }
}