.sidebarChannel {
    padding-left: 20px;
    margin-top: 2px;

    h4 {
        color: grey;
        display: flex;
        align-items: center;
        padding: 5px;
        cursor: pointer;

        &:hover {
            color: white;
            background-color: #2f3232;
            border-radius: 9px;
        }
    }

    .sidebarChannelHash {
        font-size: 20px;
        padding-right: 10px;
    }
}